{% extends "layout.html" %}

{% block title %}Spaces{% endblock %}

{% block body %}
<h1 class="fade-in" id="title-section">المساحات الدراسية المتاحة</h1>

<div class="filter-container">
    <form method="GET" action="/spaces" class="filter-form">
        <div class="filter-group">
            <select name="city" class="filter-select">
                <option disabled selected>المدينة</option>
                {% for c in cities %}
                    <option value="{{ c['city'] }}" {% if request.args.get('city') == c['city'] %}selected{% endif %}>{{ c['city'] }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="filter-button">بحث</button>
    </form>

    <!-- Show result count -->
    <div class="results-count-box">
        {% if result_count > 0 %}
            <span class="results-icon">📊</span>
            <span class="results-text">عدد مساحات العمل: {{ result_count }}</span>
        {% else %}
            <span class="results-text no-results">لا توجد /ساحات عمل مطابقة لخيارات البحث الحالية.</span>
        {% endif %}
    </div>
</div>

<div class="spaces-grid">
    {% for space in spaces %}
    <div class="space-card" data-aos="flip-left" data-aos-delay="{{ loop.index * 100 }}">
            <img src="{{ url_for('static', filename='/spaces/' + space.image) }}" alt="Image of {{ space.english_name }}" class="space-image">
            <h2 class="space_english_name">{{ space.english_name }}</h2>
            <p><strong>المدينة: </strong> {{ space.city }}</p>
            <p><strong>العنوان: </strong> {{ space.address }}</p>
            <p><strong>ساعات العمل: </strong> {{ space.start_working }} - {{ space.end_working }}</p>
            {% if space.price_per_hour %}
                {% if space.price_per_hour == 0 %}
                    <p>
                    <strong>السعر/ساعة:</strong>
                    <span class="badge-free">مجاناً</span>
                    </p>
                {% else %}
                    <p>
                        <strong>السعر/ساعة:</strong> {{ space.price_per_hour }} شيكل
                    </p>
                {% endif %}
            {% endif %}

            <p><strong>رقم الهاتف: </strong> 0{{ space.phone_number }}</p>


            <!-- <p class="social-media"><strong>للتواصل: </strong> <a href="{{ space.social_media_account }}" target="_blank"> اضغط هنا </a> </p> -->
            <div class="social-links">
                <strong>للتواصل : </strong>
                    {% if space['facebook_account'] %}
                    <a href="{{ space['facebook_account'] }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}
                    {% if space['whatsapp_account'] %}
                    <a href="{{ space['whatsapp_account'] }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    {% endif %}
                    {% if space['instagram_account'] %}
                    <a href="{{ space['instagram_account'] }}" target="_blank"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if space['telegram_account'] %}
                    <a href="{{ space['telegram_account'] }}" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                    {% endif %}
            </div>
            
            <p><strong>المميزات: </strong> {{ space.features }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}