{% extends "layout.html" %}

{% block body %}
<div class="courses-container">
    <h1 class="section-title">كورسات يوتيوب</h1>

<div class="filter-container">
    <form method="GET" action="/youtube_channels" class="filter-form">
        <div class="filter-group">
            <label for="category">اختر المجال: </label>
            <select name="category" class="filter-select">
                <option disabled selected>اختر المجال </option>
                {% for category in categorys %}
                    <option value="{{ category['category'] }}" {% if request.args.get('category') == category['category'] %}selected{% endif %}>{{ category['category'] }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="filter-button">بحث</button>
    </form>

    <!-- Show result count -->
    <div class="results-count-box">
        {% if result_count > 0 %}
            <span class="results-icon">📊</span>
            <span class="results-text">عدد النتائج: {{ result_count }}</span>
        {% else %}
            <span class="results-text no-results">لا توجد كورسات مطابقة لخيارات البحث الحالية.</span>
        {% endif %}
    </div>
</div>


    <div class="courses-list">
        {% for course in youtube_courses %}
        <div class="course-card" style="animation-delay: {{ loop.index * 0.1 }}s;">
            <img src="{{ url_for('static', filename='youtube_courses/' ~ course['course_image']) }}" alt="صورة الكورس">
            
            <div style="padding: 1rem;">
                <h2 class="course-title">{{ course["course_title"] }}</h2>
                <p class="course-description">{{ course["course_description"] }}</p>
                <div class="course-details">
                    <p><strong>المعلم:</strong> {{ course["course_teacher"] }}</p>
                    <p><strong>التصنيف:</strong> {{ course["category"] or "لا يوجد تصنيف" }}</p>
                    <p><strong>المجال:</strong> {{ course["course_field"] }}</p>
                    <p><strong>القناة:</strong> {{ course["youtube_channel"] }}</p>
                    <p><strong>المدة:</strong> {{ course["duration"] }}</p>
                    <p><strong>تاريخ النشر:</strong> {{ course["publish_date"] }}</p>
                    <p><strong>اللغة:</strong> {{ course["language"] }}</p>
                </div>

                <a href="{{ course['course_url'] }}" class="course-link" target="_blank">
                    مشاهدة الكورس على يوتيوب
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
